* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(135deg, #655aff, #ff74b7);
}
table { 
  table-layout:fixed;
}
@media only screen and (max-width: 480px) {
/* horizontal scrollbar for tables if mobile screen */
.tablemobile {
    overflow-x: auto;
    display: block;
}
}
.pacifico-regular {
font-family: "Pacifico", cursive;
font-weight: 400;
font-style: normal;
}

.pagetop h1 {
font-family: "Pacifico", cursive;
display:flex;
font-weight: 400;
flex-direction: column;
font-size:8vh;
text-align: center;
} 
.pagetop h3 {
font-family: "Indie Flower", cursive;
display:flex;
font-style: normal;
flex-direction: column;
font-size:3vh;
text-align: center;
} 
.pagetop h4 {
  font-family: "Sans", cursive;
  display:flex;
  font-weight: 10;
  color: #ffffff;
  flex-direction: column;
  font-size:2vh;
  text-align: center;
  } 
#scratcher-box {
  width:22em;
align-content: center;
height:22em;
background-color:#ffffff;
position: absolute;
transform: translate(-50%, -50%);
top: 60%;
left: 50%;
border-radius: 5%;
}

.scratcher-bottom-margin {
margin-bottom: 50px;
}

#text-area {
margin: 15px 10px;
}

#bottom-text-area {
margin: 15px 0;
font-size: 85%;
}

#scratcher-box canvas {

margin: 5px 5px 5px 5px;
cursor: grab;
}

#scratcher3Pct {
font: sans-serif;
font-size: 0.8em;
}

#resetbutton {
background-color: #04AA6D; /* Green */
border: none;
color: white;
padding: 15px 32px;
border-radius:1cap;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 2vh;
margin: 0;
top: 50%;
left: 50%;
transform: translate(70%, -50%);
}
