* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background:  repeating-linear-gradient(135deg, #928afc, #ffa7d1);
}
table { 
  table-layout:fixed;
  transform: translate(0%, 10%);
  top: 75%;
  left: 10%;
}
@media only screen and (max-width: 600px) {
/* horizontal scrollbar for tables if mobile screen */
.tablemobile {
    overflow-x: auto;
    display: block;
}
}
.pacifico-regular {
font-family: "Pacifico", cursive;
font-weight: 400;
font-style: normal;
}

.pagetop h1 {
font-family: "Pacifico", cursive;
display:flex;
font-weight: 400;
flex-direction: column;
font-size:15vmin;
text-align: center;
} 
.pagetop h3 {
font-family: "Indie Flower", cursive;
display:lex;
font-style: normal;
flex-direction: column;
font-size:4vmin;
text-align: center;
} 
.pagetop h4 {
  font-family: "Sans", cursive;
  display:flex;
  font-weight: 0;
  color: #ffffff;
  flex-direction: column;
  font-size:3vmin;
  text-align: center;
  } 

#scratcher-box {
  width:22em;
align-content: center;
height:22em;
position: absolute;
transform: translate(-50%, -50%);
top: 65%;
left: 50%;
border-radius: 5%;
}

.scratcher-bottom-margin {
margin-bottom: 50px;
}
.scratcher-bottom-margin h4 {
  font-family: "Sans", cursive;
  display:flex;
  font-weight: 0;
  color: #ffffff;
  flex-direction: column;
  font-size:2vmin;
  text-align: center;
  } 
#text-area {
margin: 15px 10px;
}

#bottom-text-area {
margin: 15px 0;
font-size: 85%;
}

#scratcher-box canvas {

margin: 5px 5px 5px 5px;
cursor: grab;
}


#resetbutton {
background-color: #04AA6D; /* Green */
border: none;
color: white;
padding: 15px 32px;
border-radius:1cap;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 2vh;
margin: 0;
top: 50%;
left: 50%;
transform: translate(70%, -50%);
}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}